{% extends 'App1/base.html' %}

{% block content %}
<h1>Acerca de mí</h1>
<p>Mi nombre es Matías Henquin, tengo 18 años. En CoderHouse, estoy haciendo el curso de programación en Python.</p>
<p>Soy de Santa Fe, Argentina, y estudio en la Facultad de Ingeniería Química de la Universidad Nacional del Litoral.</p>
<p>Este proyecto trata sobre finanzas en pocas palabras, para que puedas organizar tus gastos e ingresos.</p>
<p>_______________________________________________________________________________________________________ </p>
<p>Básicamente, para una mejor organización, en la sección de Resumen Financiero, podrás encontrar un resumen completo de tus gastos, de manera ordenada por día, categoría, monto y medio de pago.</p>
<p>Luego, en la sección de Registrar Gasto, puedes ingresar el monto, su categoría y el medio de pago.</p>
<p>En la sección de Registrar Ingreso, puedes ingresar el monto y la categoría, que puede ser a través de tu sueldo u otras fuentes. </p>
<p>mhenquin.facu@gmail.com</p>

{% endblock %}
