<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Finanzas App{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'App1/assets/favicon.ico' %}" />
        <link href="{% static 'App1/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">Finanzas App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'resumen_financiero' %}">Resumen Financiero</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registrar_ingreso' %}">Registrar Ingreso</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registrar_gasto' %}">Registrar Gasto</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de mí</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% if user.avatar and user.avatar.imagen %}{{ user.avatar.imagen.url }}{% else %}{% static 'App1/assets/default_avatar.png' %}{% endif %}" class="rounded-circle" width="30" height="30" alt="Avatar">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="py-5">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'App1/js/scripts.js' %}"></script>
    </body>
</html>
